{% extends 'BASE/base.html' %}
{% block content %}


<div class="col-md-6 offset-md-3 ct">
    </br>
    </br>
  
    <div class="container bd">
        </br>
        <div class="h">
        <h2>New User</h2>
        </div>
        </br>

        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Your Form Has Errors
                {% for field in form %}
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            {{ form.as_p }}

            <br />
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<style>
    body {
        background-color: rgb(220, 220, 220);
    }

    .bd{
        padding: 20px;
        border-radius: 15px;
        background-color: rgb(242, 242, 242);
    }
    .h{
        text-align: center;
    }

    .h > h2{
        color: rgb(107, 107, 107);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

</style>

{% endblock %}