{% extends 'BASE/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 cnt">
    <div class="card-body p-5 text-center">
        <form method="POST" action="{% url 'filter_student_records' %}">
            {% csrf_token %}

            <div class="mb-3">
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="roll_no" placeholder="Roll Number">
            </div>
            <div class="mb-3">
                <select class="form-select" name="batch" placeholder="Batch">
                    <option value="" disabled selected hidden>Choose a batch</option>
                    <option value="First Year">First Year</option>
                    <option value="Second Year">Second Year</option>
                    <option value="Third Year">Third Year</option>
                    <option value="Fourth Year">Fourth Year</option>
                    <option value="M.Tech">M.Tech</option>
                    <option value="PHD">PHD</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</div>
</div>
</div>
</div>


</br>
</br>


{% if data %}
<div style="text-align: center;">
    <h4 style="font-weight: bold; color:rgb(120, 120, 120)">All records ordered batch wise.</h4>
</div>

<div class="container">
    </br>
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Created At</th>
                <th scope="col">Batch</th>
                <th scope="col">Name</th>
                <th scope="col">Roll Number</th>
                <th scope="col">Reason</th>
                <th scope="col">Permission</th>
                <th scope="col">Phone</th>
                <th scope="col">Vehicle Number</th>
            </tr>
        </thead>
        <tbody>
            {% for entries in data %}
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.created_at }}</td>
                    <td>{{ entry.batch }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.roll_no }}</td>
                    <td>{{ entry.reason }}</td>
                    <td>{{ entry.permission }}</td>
                    <td>{{ entry.phone }}</td>
                    <td>{{ entry.vehicle_no }}</td>
                </tr>
                {% endfor %}  
                <tr style="height: 10px;"> 
                    <td colspan="8"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</br>
</br>
</br>

{% else %}


{% if entries1 %}
<div class="container">
    <div style="text-align: center;">
        <h4 style="font-weight: bold; color:rgb(120, 120, 120)">Records based on name: {{filter_dict.name}}</h4>
    </div>
    </br>
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Created At</th>
                <th scope="col">Name</th>
                <th scope="col">Roll Number</th>
                <th scope="col">Batch</th>
                <th scope="col">Reason</th>
                <th scope="col">Permission</th>
                <th scope="col">Phone</th>
                <th scope="col">Vehicle Number</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries1 %}
            <tr>
                <td>{{ entry.created_at }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.roll_no }}</td>
                <td>{{ entry.batch }}</td>
                <td>{{ entry.reason }}</td>
                <td>{{ entry.permission }}</td>
                <td>{{ entry.phone }}</td>
                <td>{{ entry.vehicle_no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% if entries2 %}

<div class="container">
    <div style="text-align: center;">
        <h4 style="font-weight: bold; color:rgb(120, 120, 120)">Records based on roll number: {{filter_dict.roll_no}}
        </h4>
    </div>
    </br>
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Created At</th>
                <th scope="col">Name</th>
                <th scope="col">Roll Number</th>
                <th scope="col">Batch</th>
                <th scope="col">Reason</th>
                <th scope="col">Permission</th>
                <th scope="col">Phone</th>
                <th scope="col">Vehicle Number</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries2 %}
            <tr>
                <td>{{ entry.created_at }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.roll_no }}</td>
                <td>{{ entry.batch }}</td>
                <td>{{ entry.reason }}</td>
                <td>{{ entry.permission }}</td>
                <td>{{ entry.phone }}</td>
                <td>{{ entry.vehicle_no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}


{% if entries3 %}

<div class="container">
    <div style="text-align: center;">
        <h4 style="font-weight: bold; color:rgb(120, 120, 120)">Records based on batch: {{filter_dict.batch}}</h4>
    </div>
    </br>
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Created At</th>
                <th scope="col">Name</th>
                <th scope="col">Roll Number</th>
                <th scope="col">Batch</th>
                <th scope="col">Reason</th>
                <th scope="col">Permission</th>
                <th scope="col">Phone</th>
                <th scope="col">Vehicle Number</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries3 %}
            <tr>
                <td>{{ entry.created_at }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.roll_no }}</td>
                <td>{{ entry.batch }}</td>
                <td>{{ entry.reason }}</td>
                <td>{{ entry.permission }}</td>
                <td>{{ entry.phone }}</td>
                <td>{{ entry.vehicle_no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

</div>
{% endif %}

{% endif %}


<style>
    body {
        background-color: rgb(239, 239, 239);
    }
    .cnt {
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 1px solid rgb(160, 158, 158);
    }
</style>
{% endblock %}